@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'poppins' , sans-serif ;
   text-decoration: none;
      scroll-behavior: smooth;


}



.back{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
}
/*headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

header{
    display: flex;
    background-color: rgba(42, 108, 165, 0.326);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    filter: blur(40%);
    border-radius: 10%;
    position: fixed;
    z-index: 27;
    
}

#menuicon{
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-right: 10px;
    align-items: center;
}
header a{
    padding: 10px;
    transition: 0.3s ease-in-out;
    color: rgb(90, 255, 93);
}

header a:hover {
   border-radius: 20px;
   cursor: pointer;
   border-bottom: 3px solid rgb(122, 122, 125);
   border-color: rgb(128, 130, 131);
       text-shadow: 0 0 5px;


}
.logo{
    padding-left: 10px ;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(246, 2, 2);
    text-shadow: 0 0 10px;
    animation: logoanime 2s  ease-in-out alternate forwards ;
}
@keyframes logoanime {
    0%{
        opacity: 0;
         transform: rotate(45deg);
    }
    50%{
        opacity: 1;
        transform: translateX(300px);

    
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        transform: rotate('75');
    }

    
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    position: relative;
}

/*hommmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmeee*/
.home{
    max-width: 100%;
    max-height: 100vh;
}

.hi{
   max-width: 400px;
    height: 100%;
    float: right;
    padding-top: 200px;
    color: rgb(202, 198, 198);
    margin-top: 100px; 
    margin-right: 250px;
     text-shadow: 0 0 30px whitesmoke;
}
.hi h1{
    opacity:0;
    animation: slidetop 1s ease forwards;
}
@keyframes slidetop{
    from{
      opacity: 0;
      transform:translateY(-150px);
    }
    to{
        opacity: 1;
      transform:translateY(0);
    }
}
.hi h2{
    opacity:0;
    animation: slideleft 1s ease forwards;
}
@keyframes slideleft{
    from{
      opacity: 0;
      transform:translateX(-150px);
    }
    to{
        opacity: 1;
      transform:translateX(0);
    }
}
.hi p{
    opacity:0;
    animation: slideright 1s ease forwards;
}
@keyframes slideright{
    from{
      opacity: 0;
      transform:translateX(150px);
    }
    to{
        opacity: 1;
      transform:translateX(0);
    }
}
.anime{
    margin-top: 150px;
}
.developer span{
    color: #5d1717;
    text-shadow: 0 0 10px;
}
.developer span{
    color: rgb(247, 1, 1);
    text-shadow: 0 0 30px;
    position: relative;
    transition: 0.3s linear;
    font-size: xx-large;
}
.developer span::before{
    content: 'devlopers';
    animation: words 5s infinite;
}
.developer span::after{
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px #bcacac;
    }
}
@keyframes words{
    0% ,33%{
        content:'developers';
        font-family: cursive;

    }
    34% ,66%{
        content: 'designers';
        font-family: cursive;

    }
    67%, 100%{
       content: 'engineers';
       font-family: cursive;

    }
}
.hi p{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: x-large;
}
.btn{
    margin-top:80px;
    padding: 1rem ;
    background:transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(203, 209, 209);
    letter-spacing: 0.1rem;
    font-weight: 400px;
    border: 6px solid rgb(85, 114, 114);
    transition: 0.3s ease;
    cursor: pointer;
    height: 120px;
    width: 200px;
    text-transform: capitalize;
    text-align: center;
    opacity:0;
    animation: slidebuttom 1s ease forwards;
}

@keyframes slidebuttom{
    from{
      opacity: 0;
      transform:translatey(150px);
    }
    to{
        opacity: 1;
      transform:translatey(0);
    }}
.btn:hover{
    transform: scale3d(1.03);
    background-color: gray;
    color: rgb(54, 206, 62);
    box-shadow: 0 0 30px white;
}

.anime{
    width: 45%;
    height: 80%;
    float: left;
    transition: 4s;
}
.anime :hover{
    opacity: 0.8;
}
.ropot{
    border-radius: 130px;
    animation: ropot 1.1s linear  alternate forwards;
    width: 100%;
    transform: translate(-100px 200px);

}
@keyframes ropot{
    from{
        translate: -500px 400px;
        opacity: 0;
        rotate: 20deg;        
    }
    to{
        translate: 50px 100px;
        opacity: 1;
    }
}
/*abouuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuut*/
.about{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-image: radial-gradient(rgb(75, 75, 75) , black );
    padding-bottom: 6rem;
    width: 100%;
}
.heading{
    font-size: 5rem;
    margin-bottom: 50px;
    text-align: center;
    color:rgba(126, 213, 126);
    text-shadow: 0 0 20px;
}
.heading span{
    color: rgb(250, 253, 253);
}
.personalimages{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.amr{
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.amrimg{
    width: 30%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
   border-top: rgb(0, 0, 0) 0.2rem solid;
    border-bottom: rgb(4, 4, 4) 0.2rem solid;
    border-left: 0.1rem solid rgb(0, 255, 81);
    border-right: 0.1rem solid rgb(0, 255, 60);
}

.omarimg{
     position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  border-top: rgb(0, 0, 0) 0.2rem solid;
    border-bottom: rgb(4, 4, 4) 0.2rem solid;
    border-left: 0.1rem solid rgb(0, 255, 81);
    border-right: 0.1rem solid rgb(0, 255, 60);
}
.aboutcontent{
 text-align: center;
}
.aboutcontent h3{
    font-size: 2.6rem;
 color: #ffffff;
}
.aboutcontent p {
    margin: 2rem 0 2rem ;
    flood-color: white;
}
.btnbox{
    position: relative;
    padding-bottom: 28px;
    translate: -35px -4px;
    
}
.btn2{
    margin-top: 100px;
    margin-left: 80px;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #f3f7f4;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6a6a6c;
    transition: 0.3s ease;
    cursor: pointer;
   
}
.btn2:hover{
    transform: scale3d(1.03);
    background-color: rgb(73, 74, 74);
    color: rgb(63, 245, 117);
    box-shadow: 0 0 25px rgb(187, 187, 188);
}
/*skillllllllllllllllllllllllllllllllllllllllllllllllls*/

.skills{
    height: auto;
    background-image: radial-gradient(rgb(75, 75, 75) , black );
    display: flex;
    position: relative;
}
.skillsheading{
    font-size: 3rem;
    align-items: center;
    top: 0;
    position: absolute;
    color: rgb(253, 255, 253);
        text-shadow: 0 0 20px;

}
.skillsheading span{
    color: rgb(57, 139, 57);
        text-shadow: 0 0 20px;

}
.skillsbox{
    padding-top: 100px;
    width: 100%;
}
.skillsbox .skillscontent{
    border:.2rem solid rgb(101, 172, 101);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: green;
   
}
.skillscontent ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0e0808;
    z-index: -1;
    transition: 0.7s;

}
.skillscontent :hover::before{
    width: 100%;
}   

.progress{
    padding: 1.1rem 0;
    width: 100%;
}
.progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    color: rgb(163, 3, 3);
}
.progress h3 span{
    color: rgb(101, 172, 101);
}
.skillscontent .progress .bar{
    height: 2.5rem;
    border-radius: 0.6rem;
    border: .2rem solid gray;
    padding: 0.5re,;
    margin: 1rem 0;
}
.skillscontent .progress .bar span{
display: block;
height: 100%;
border-radius: .3rem;
background-color: rgb(101, 172, 101);
}
.progress:nth-child(1) .bar span{
    width: 95%;

}
.progress:nth-child(2) .bar span{
    width:60%;

}
.progress:nth-child(3) .bar span{
    width: 65%;

}
.progress:nth-child(4) .bar span{
    width: 90%;

}
.progress:nth-child(5) .bar span{
    width: 90%;

}
/*servicesssssssssssssssssssssssssssssssssssssssssssssssssss*/

.services{
    background-image: radial-gradient(rgb(75, 75, 75) , black );
    overflow: hidden;

 

}
.servheading{
transform: translate( 0 ,-450px );
text-transform: uppercase;
 font-size: 3rem;
 padding-top: 10px;
color: rgb(101, 172, 101);
padding-top: 200px;
    text-shadow: 0 0 20px;


}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 600px;
     background: aqua;
    box-shadow: 0 30px 50px rgb(0, 0, 0);
    
}
.container .slide .web{
    width: 150px;
    height: 200px;
    position: absolute;
    top: 50%;
     transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #000000;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.slide .web:nth-child(1),.slide .web:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.slide .web:nth-child(3){
    left: 50%
}
.slide .web:nth-child(4){
    left: calc(50% + 220px);
}
.slide .web:nth-child(5){
    left: calc(50% + 440px);
}
.slide .web:nth-child(6){
    left: calc(50% + 660px);
    z-index: 3333
}
.web .content{
    position: absolute;
    top: 50%;
    left: 50px;
    text-align: left;
    color: rgb(29, 127, 166);
    border-radius: 30px;
    padding: 10px;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    box-shadow: 0 0 20px aqua;
    
}
.slide .web:nth-child(2) .content{
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}
@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}


.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    color: #5d1717;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #a35413;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #741010;
}
/*contaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacccct*/

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(rgb(75, 75, 75) , black );
    position: relative;

}
.contact h2{
    translate: 0 -380px;
    text-transform: uppercase;
 font-size: 3rem;
 padding-top: 10px;
 color: rgb(101, 172, 101);
     text-shadow: 0 0 20px;

     position: absolute;

}
.contact h2 span{
    color: #ffffff;
        text-shadow: 0 0 20px;

}
.form{
    width: 600px;
    text-align: center;
    justify-content: center;
    text-align: center;
}
.inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    gap: 20px;
    padding-bottom: 50px;
    position: relative;
}
.item{
    width: 300px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(31, 88, 168);
    outline: none;
    border-radius: 6px;
    color: whitesmoke;
    padding: 10px;
}
.textarea{
    
    justify-content: center;
    align-items: center;
}
#message{
     width: 620px;
     height: 300px;
resize:none;}
 .field .item::placeholder{
    color: rgba(255, 255, 255, 0.3);
    padding-left: 10px;
 }  
.contact form button{
    padding: 12px 32px;
background-color: 6px solid rgb(85, 114, 114);
border: none;
outline: none;
border-radius: 6px;
box-shadow: 0 0 10px rgb(0, 0, 0);
color: #272626;
letter-spacing: 1px;
font-weight: 600;
cursor: pointer;
 margin-top: 20px;
 margin-left: 250px;
}
.contact form button:hover{
    box-shadow: none;
}
.error-txt{
    font-size: 14.5px;
    color: #aa2e2e;
    padding-left: 10px;
    display: none;
}
.field.error .item{
border-color: #741010;
}
.field.error .error-txt{
    display: block;
}
@media (max-width: 1250px) {
   html,body{
    width: 100%;
    height: 100%;
    font-size: 90%;
    overflow: hidden;
   }
   .ropot{
    width: 100%;
    height: 50%;

   }
   header{
    width: 100%;

   }
   .anime{
    width: 40%;
    height: 80%;
    float: left;
    transition: 4s;
    margin-top: 350px;
}
.anime :hover{
    opacity: 0.8;
}

.btn{
    margin-top: 80px;
    margin-left: -200px;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color:aqua;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid aqua;
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
    height: 120px;
    width: 200px;
        text-transform: capitalize;
        text-align:justify center;
}


}
@media (max-width: 750px){
  .anime{
      width: 50%;
  }

 .hi{
    margin-right: 100px;
    width: 50%;
 }
 .ropot{
    border-radius: 130px;
    animation: ropot 3s linear 1 alternate forwards;
    width: 70%;
}
@keyframes ropot{
    from{
        translate: -100px;
        
    }
    to{
        translate: 150px;
    }
 
}
.btn{
    width: 50%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 10px;
}
.hiree{
    font-size: 80%;
}
}
@media (max-width: 650px){
    .anime{
        display: none;
    }
    .hi{
        width: 100%;
        color: rgb(238, 242, 243);
       display: block;
       padding-left:100px ;
    }
    #menuicon{
        display: block;
    }
    .navbar{
        position: absolute;
        display: block;
        left: -100%;
        top: 100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: rgba(38, 45, 131, 0.3);
        box-shadow: 0 0.2rem 2rem rgb(106, 97, 97);
        transition: 0.5s ease;
        transition-delay:0.24s ;
    }
    
    .navbar.active{
        transition-delay: 0s;
        left: 0;
    }
    .navbar a{
        display: block;
        color: #ffffff;
        font-family:monospace;
    }
    .container{
        width: 90%;
        height: 80%;
    }
    .web .content{
    position: absolute;
    top: 10%;
    left: 50px;
    text-align: left;
    color: rgb(29, 127, 166);
    border-radius: 30px;
    padding: 10px;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    box-shadow: 0 0 20px aqua;
    
}
.slide .web:nth-child(2) .content{
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}
    @keyframes animate {
    from{
        opacity: 0;
        transform: translate(0,400px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }}

  
}
@media (max-width: 500px){
    .contact form .inputbox {
     display: block;
     padding-left: 100px;
    }
    .contact form .inputbox .inputfield{
        padding-top: 12px;
        padding-left: 50px;
    }
    .contact form 
    #message{
        margin-left: 150px;
        width: 300px;
    }
    .socialmedia{
        width: 70%;
    }

}
footer{
    background-color: rgb(21, 39, 39);
    display: flex;
    justify-content: space-between;
}
footer h3{
    color: aqua;
    margin-top: 30px;
    margin-right: 15px;
}
.socialmedia{
    margin-left: 15px;
    position: relative;
}
.socialmedia a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid aqua;
border-radius: 50%;
font-size: 20px;
color: aqua;
text-decoration: none;
margin: 30px 15px 30px 0;
transition: 0.5s;
position: relative;

}

.socialmedia a:hover{
    color: #272626;
    box-shadow: 0  0 20px aqua;
    background: aqua;

}
.scrollarrow{
    bottom: 10px;
    right:15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 20px;
    background-color: transparent;
    box-shadow:0 0 20px aqua;
    cursor: pointer;
    position: fixed;
    z-index: 5555;
        transition: 0.3s ease;

    display: none;
}
.arrowup{
    color:rgb(0, 255, 149);
}
.scroll:hover{
    background-color: aqua;
}




